<div class="container">
  <div>
    <mat-icon class="close" mat-dialog-close (click)="onClick()"
      >clear</mat-icon
    >
  </div>
  <div class="fill">
    <!-- <div class="align">
      <div class="course1">Course&nbsp;Certificate</div>
      <mat-icon class="save">save_alt</mat-icon>
    </div> -->
    <div>
      <!-- <img src="{{image}}"> -->
      <!-- <div class="contentBox"  >
     
                <div class="dialogBox" >
                  <div>
                    
                    
                    <div class="cup">
                      <img src="/assets/image 1.png">
                     </div>
                    <div>
                    <div class="para">Certificate&nbsp;of&nbsp;completion</div>
                    <div class="name">Vaishnavi</div>
                    <div class="course" >Design</div>
                    <div class="time">
                    <div>Joined:{{pdf.joined}}</div>  
                    <li>Completed:1/1/1</li>
                    <li>time:{{pdf.duration}}</li>
                    </div>
                    <div class="time">Certificate&nbsp;No:639c339417538f00bb14fc6c1672392560137</div>
                  </div>
                   <div class="footer">
                    <img  class="image" src="/assets/img_virtuallearn logo_splash 2.png">
                   </div>
                  </div>
                </div>
               
              </div> -->
              <div >
                <iframe  [src]="trustedUrl" class="iframe"></iframe>
                
              </div>
              
      <!-- <object[innerHTML]="url"
        [data]="url"
        type="application/pdf"
     
      >
        <iframe
          [src]="url"
         
        >
        <p>
			Your browser does not support PDFs.
			<a href="https://example.com/test.pdf">Download the PDF</a>
			.
		</p>
        
        </iframe>
      </object> -->
    </div>
  </div>
</div>
