.container {
  height: 100%;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  width: 5px;
  margin-left: 2rem;
}
.container::-webkit-scrollbar-track {
  background: none;
  margin-left: 2%;
}
.container::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  margin-left: 2%;
  border-radius: 30px;
}
.align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 2%;
}
.opt-1 {
  margin-block-start: 2%;
  display: flex;
  gap: 1%;
  align-items: center;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  padding: 2%;
  cursor: pointer;
}
.opt-1 .first {
  color: rgba(122, 122, 122, 0.3);
}
.opt-1 div {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;

  color: #2b2b2b;
}
.select {
  background: #1eab0d;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
}
.select div {
  color: #fff;
}
.opt-1 .second {
  color: #fff;
}

.wrong {
  background: #ea2626;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
}
.list {
  margin-block-end: 5%;
  margin-block-start: 3rem;
}
.number {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2b2b2b;
}
.cans {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: right;

  color: #1eab0d;
}
.qnName {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;

  /* or 142% */

  color: #2b2b2b;
}
.wans {
  color: #ea2626;
}
.close mat-icon {
  float: right;
}
.wg {
  background: #ea2626;
}
.cr {
  background: #1eab0d;
}
.gap {
  margin-block-end: 2rem;
}
