<div>
    <div>
        <app-home-page></app-home-page>
      </div>
      <div class="fill">
        <div class="image">
            <img src="/assets/img_course-complete_illustratipon.png">
            <div class="congro">Congratulations!</div>
            <div class="cline">You have completed the course:<span>{{courseTitle}} </span> Training with</div>
            <div class="percent">{{final}}%</div>
            <div class="app">Approval Rate</div>
            <div class="res" (click)=" openDialog()" >View&nbsp;certificate</div>
        </div>
      </div>
</div>
